<?xml version="1.0" encoding="UTF-8"?>
<!--
THIS FILE IS NOT USED YET
This is here to add a scheduled run of nag time to launchctl but crontab is working fine
so finishing this aspect is low priority
-->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>local.restart</string>
        <key>Program</key>
        <string>PATH_TO_NAG_TIMER</string>
        <key>RunAtLoad</key>
        <true/>
    </dict>
